@media (max-width: 1200px) {
	.head-right-item {
    	width: 50%;
    }
}
@media (max-width: 1024px) {
	.container ul li .info h2 {
		font-size: 18px;
	}
}
@media (max-width: 768px) {
	.head-right-item {
		flex-direction: column;
	
	}
	.arrows img {
		padding: 10px;
		margin-bottom: 10px;
	}
	.menu-buttons button {
	    	padding: 15px 15px;
	} 
}

@media (max-width: 470px) {
	header {
		flex-direction: column;
		align-items: center;
	}
}