<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Panel</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<header>
		<div class="logo">
			<img src="" alt="">
		</div>
		<div class="header-btn">
			<button>Slide</button>
			<button>Page</button>
		</div>
	</header>
	<div class="container">
		<form action="">
			<div class="row">
				<div class="radio">
					<label class="">One
					  	<input type="radio" checked="checked" name="radio">
					  	<span class="checkmark"></span>
					</label>
					<label class="">Two
					  	<input type="radio" name="radio">
					  	<span class="checkmark"></span>
					</label>
					<label class="">Three
					  	<input type="radio" name="radio">
					  	<span class="checkmark"></span>
					</label>
				</div>
				<label for="name">
					Title
					<input id="name" type="text">
				</label>
				<label for="">
					Text
					<textarea rows="4" cols="30"></textarea>
				</label>
				<label for="">
					Image
					<input type="text">
				</label>
				<label for="">
					Video
					<input type="text">
				</label>
				<button type="button">View</button>
				<button type="submit">Where?</button>
				<label for="">
					Text
					<textarea rows="4" cols="30"></textarea>
				</label>
				<label for="">
					Text
					<textarea rows="4" cols="30"></textarea>
				</label>
				<button type="button">Cancle</button>
				<button type="submit">Save</button>
			</div>
		</form>
	</div>
</body>
</html>