<!DOCTYPE html>
<html>
<head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./static/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./static/media.css" />
</head>
<form method="POST">
<body>
    <div class="themeContent"></div>
    <script src="./static/theme.js"></script>
    <button id="getForecast">Получить прогноз погоды</button>

</body>
</form>
</html>
