<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theme 2</title>
    <link rel="stylesheet" href="static/theme2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="theme-content">
        <div class='theme-second-fon'>
            <div class='theme-overlay'></div>
            <div class='left-sidebar'><img src='static/img/logo.png' alt='logo'>
                <h2>Академия политического менеджмента</h2>
            </div>
            <header class='header2'>
                <div class='head-left-item'>
                    <div class='menu-buttons'>
                        <span class='active'>Главная</span>
                        <span>Информационный блок</span></div>
                </div>
                <div class='head-right-item'>
                    <img src='static/img/left-arrow.png' alt='left-arrow'>
                    <img src='static/img/home.png' alt='left-arrow'>
                    <img src='static/img/right-arrow.png' alt='right-arrow'>
				</div>
            </header>
            <div class='wrapper2'></div>
        </div>
    </div>	
</body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script src="static/main.js"></script>
</html>

