<!DOCTYPE HTML>
<html>
<head>
    <title>Brain Patch: Doggy Game</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.jDIVis"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="./static/jquery.mjs.nestedSortable.js"></script>

</head>
<body>
    <div class="wrapper-content"></div>
    <script>
    $(document).ready(function() {
    var lastData = "";
    console.log("+");
    console.log(lastData);
    namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
	socket.on('my_response', function(msg) {
	console.log(msg);
        var out = '';
        if(lastData == msg.black){
            var a = 5;
        }
        else{
  		if(msg.block == 1){
  		    console.log("+");
	      	out += "<div class='layout-center'>";
	      	out += "<img src=" + msg.img1 + ">";
	      	out += "</div>";
	      	lastData = msg.block;
  		}else if(msg.block == 2){
            out += "<div class='layout-left'>";
	        out += "<img src="+ msg.img2 + ">";
	        out += "</div>";
	        out += "<div class='layout-right'>";
	        out += "<span></span>";
	        out += "<h1>" + msg.title3 + "</h1>";
	        out += "<p>" + msg.text3 + "</p>";
	        out += "</div>";
	        lastData = msg.block;
  		}
  		else if(msg.block == 3){
  			out += "<video controls loop muted autoplay";
  			out += " src=" + msg.video + " width='100%' height='100%'>";
            out += "Sorry, your browser doesn't support embedded videos."
            out += "</video>"
            lastData = msg.block;
  		}
        lastData = msg.block;
        $('.wrapper-content').html(out);
        }

    });
});

</script>
</body>
</html>
