<!DOCTYPE html>
<html>
    <head><title>{{ g.title }}</title></head>
    <body>
        <h1>{{ g.title }}</h1>
        <p>
        {% for crumb in g.breadcrumbs %}
            <a href="{{ crumb.path }}">{{ crumb.title }}</a>
            {% if not loop.last %}&raquo;{% endif %}
        {% endfor %}
        </p>
        <p>What next?</p>
        <ul>
            <li><a href="/a">Aardvark</a></li>
            <li><a href="/b">you name is:{{name}}</a></li>
            <li><a href="/c">Chimp</a></li>
            <li><a href="/d">Donkey</a></li>
        </ul>
    </body>
</html>

