<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head blyat</title>
    <link rel = "stylesheet" type = "text/css" href = "style/style.css">
</head>
<body>
<p>

<input id = 2 type="button" value="Нажми меня жестко" onclick="openNewWin('http://192.168.8.100:8888/pd')  ">

</p>
    <!--<p><a target="_blank"> </a><input id = 2 type="button" value="Нажми меня средне"  onclick="openNewWin('http://192.168.1.48:8888/pc')  ">-->
    <!--</p>-->

    <!--<p><input type="button" value="Хочу скидку!" onclick="openNewWin('http://192.168.1.48:8888/pp')">-->

    <!--</p>-->
        <script language="JavaScript">
    <!-- hide
    function openNewWin(url) {
      myWin= open(url);
    }
    // -->
    </script>

<div class="cool">
<p>

<input id = 3 type="button" value="Нажми меня жестко" onclick="openNewWin('http://192.168.8.100:8888/pp')  ">

</p>


   <p>

<input type="button" value="Нажми меня жестко" onclick="openNewWin('http://192.168.8.100:8888/pc')  ">

</p>

<style>
   .text {
    text-align:  center;
   }
  </style>

<div class="text">
    <p>Титулка:</p>
     <p>Реклама Yota на кривом костыле</p>
    <p>Текст:</p>
    <p>YARDA</p>

<script src="static/admin.js"></script>
  </div>



  </div>
</body>
</html>
