<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<p>

<input type="button" value="Нажми меня жестко" onclick="openNewWin('http://192.168.8.100:8888/pc')  ">

</p>

<p>

<input type="button" value="Нажми меня жестко" onclick="openNewWin('http://192.168.8.100:8888/pp')  ">

</p>

<p>

<input type="button" value="Нажми меня жестко" onclick="openNewWin('http://192.168.8.100:8888/pd')  ">

</p>
</body>
</html>
