<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ip}}:8888/static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ip}}:8888/static/css/theme2.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ip}}:8888/static/css/theme3.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ip}}:8888/static/css/theme4.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ip}}:8888/static/css/theme5.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>

<body>
  <div id="ekran" style="display: none" value="{{ekran}}">{{ekran}}</div>
  <div id="lang" style="display: none" value="{{lang}}">{{lang}}</div>
    <div class="wrapper-content"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      var ekran = document.getElementById("ekran").innerText;
      var lang = document.getElementById("lang").innerText;
      console.log(lang);
      console.log(ekran);
      var namespace = '{{json_path}}?';
      var path = namespace;
      console.log(path);


      $('document').ready(function() {
            loadData();
            namespace = '/clicked';
        var socket = io.connect('http://192.168.8.105:8888/' + namespace);

        socket.on('my_response', function(message) {
            console.log(message);
            if (message == "1") {
                console.log("reload Theme");
                loadData();
            }
        });
      });

      var lastData1 = '';
      var lastData2 = '';
      var lastData3 = '';
      var lastData4 = '';
      var lastData5 = '';

      function loadData() {
          console.log('+')
        	$.getJSON(path  + new Date().getTime(), function(data) {

              if(data.theme == 1 ){
                theme1(data);
              }else if(data.theme == 2){

                theme3(data);
              }else if(data.theme == 3){
                theme2(data);
              }else if(data.theme == 4){
                theme4(data);
              }else if(data.theme == 5){
                theme5(data);
              }

      })
}

function theme1(data) {
  console.log(data)
  var out = '';
  if(data.content[0].type == 1){
      out += "<div class='layout-center display1'>";
      out += '<img src="' + data.content[0].img + '">';
      out += "</div>";
      lastData1 = data.id;
  }else if(data.content[0].type == 2){
      console.log(data.logo);
      console.log(data.content[0].img)
      if(data.logo == data.content[0].img){

        out += "<div class='display1'>";
        out += "<div class='layout-right' style='width:100%'>";
        out += "<span></span>";
        out += "<h1>" + data.content[0].title + "</h1>";
        out += "<p>" + data.content[0].text + "</p>";
        out += "</div>";
        out += "</div>";
      }else{
        out += "<div class='display1'>";
        out += "<div class='layout-left '>";
        out += "<img class='logo' src="+ data.logo +" alt='' />"
        out += '<img src="'+ data.content[0].img + '">';
        out += "</div>";
        out += "<div class='layout-right'>";
        out += "<span></span>";
        out += "<h1>" + data.content[0].title + "</h1>";
        out += "<p>" + data.content[0].text + "</p>";
        out += "</div>";
        out += "</div>";
      }
      lastData1 = data.id;
  }
  else if(data.content[0].type == 3){
    out += "<video controls loop muted autoplay";
    out += " src=" + data.dochki[1].video + " width='100%' height='100%'>";
        out += "Sorry, your browser doesn't support embedded videos."
        out += "</video>"
        lastData1 = data.id;
  }else{
    loadData();
    console.log('+');
  }
  $('.wrapper-content').html(out);
  setInterval(function(){
    $.getJSON(path  + new Date().getTime(), function(data) {
      if(data.id != lastData1){
        loadData();
      }
    })
  }, 2500);
}


function theme2(data) {
  console.log(data)
  var out = '';
  if(data.content[0].type == 1){
      out += "<div class='layout-center display2'>";
      out += '<img src="' + data.content[0].img + '">';
      out += "</div>";
      lastData2 = data.id;
  }else if(data.content[0].type == 2){
    if(data.logo == data.content[0].img){
      out += "<div class='display display3'>";
      out += "<div class='right-item' style='width:100%;'>";
      out += "<h1>"+data.content[0].title+"</h1>";
      out += "<p>"+data.content[0].text+"</p>";
      out += "</div>";
      out += "</div>";
    }else{
      out += "<div class='display display3'>";
        out += "<div class='left-item'>";
      out += "<div class='top-item'>";
      out += "<img  src = "+ data.logo +"/>";
      out += "</div>";
      out += '<img src="'+ data.content[0].img+'">';
      out += "</div>";
      out += "<div class='right-item'>";
      out += "<h1>"+data.content[0].title+"</h1>";
      out += "<p>"+data.content[0].text+"</p>";
      out += "</div>";
      out += "</div>";
    }
      lastData2 = data.id;
  }
  else if(data.content[0].type == 3){
    out += "<video controls loop muted autoplay";
    out += " src=" + data.content[0].video + " width='100%' height='100%'>";
    out += "Sorry, your browser doesn't support embedded videos."
    out += "</video>"
        lastData2 = data.id;
  }else{
    loadData();
    console.log('+')
  }
  $('.wrapper-content').html(out);
  setInterval(function(){
    $.getJSON(path  + new Date().getTime(), function(data) {
      if(data.id !== lastData2){
        loadData();
      }
    })
  }, 2500);
}

function theme3(data) {
  console.log(data)
  var out = '';
  if(data.content[0].type == 1){
      out += "<div class='layout-center display2'>";
      out += '<img src="' + data.content[0].img + '">';
      out += "</div>";
      lastData3 = data.id;
  }else if(data.content[0].type == 2){
    if(data.logo == data.content[0].img){
      out += "<div class='wrapper-layout display3'>";
      out += "<div class='theme-overlay'></div>";
      out += "<div class='right-layout' style='width: 100%;'>";
      out += "<h2>"+data.content[0].title+"</h2>";
      out += "<p>"+data.content[0].text+"</p>";
      out += "</div>";
      out += "</div>";

    }else{
      out += "<div class='wrapper-layout display3'>"
      out += "<div class='theme-overlay' style='background-image:url()'></div>";
      out += "<div class='left-layout'>";
      out += "<img class='logo' src='"+data.logo+"'>";
      out += "<div class='display-image'>";
      out += '<img src="'+data.content[0].img+'" alt="">';
      out += "</div>";
      out += "</div>";
      out += "<div class='right-layout'>";
      out += "<h2>"+data.content[0].title+"</h2>";
      out += "<p>"+data.content[0].text+"</p>";
      out += "</div>";
      out += "</div>";
    }
      lastData3 = data.id;
  }
  else if(data.content[0].type == 3){
    out += "<video controls loop muted autoplay";
    out += " src=" + data.content[0].video + " width='100%' height='100%'>";
    out += "Sorry, your browser doesn't support embedded videos."
    out += "</video>"
        lastData3 = data.id;
  }else{
    loadData();
    console.log('+')
  }
  $('.wrapper-content').html(out);
  setInterval(function(){
    $.getJSON(path  + new Date().getTime(), function(data) {
      if(data.id != lastData3){
        loadData();
      }
    })
  }, 2500);
}

function theme4(data) {
  console.log(data)
  var out = '';
  if(data.content[0].type == 1){
      out += "<div class='layout-center display4'>";
      out += '<img src="' + data.content[0].img + '"/>';
      out += "</div>";
      lastData4 = data.id;
  }else if(data.content[0].type == 2){
    if(data.logo == data.content[0].img){
      out += "<div class='display4'>";
      out += "<div class='layout-right' style='width: 100%'>";
      out += "<span></span>";
      out += "<h1>" + data.content[0].title + "</h1>";
      out += "<p>" + data.content[0].text + "</p>";
      out += "</div>";
      out += "</div>";
    }else{
      out += "<div class='display4'>";
      out += "<div class='layout-left '>";
      out += "<img class='logo' src='"+ data.logo +"' alt='' />"
      out += '<img src="'+ data.content[0].img + '">';
      out += "</div>";
      out += "<div class='layout-right'>";
      out += "<span></span>";
      out += "<h1>" + data.content[0].title + "</h1>";
      out += "<p>" + data.content[0].text + "</p>";
      out += "</div>";
      out += "</div>";
    }
      lastData4 = data.id;
  }
  else if(data.content[0].type == 3){
    out += "<video controls loop muted autoplay";
    out += " src=''" + data.dochki[1].video + "' width='100%' height='100%'>";
    out += "Sorry, your browser doesn't support embedded videos."
    out += "</video>"
    lastData4 = data.id;
  }else{
    loadData();
    console.log('+');
  }
  $('.wrapper-content').html(out);
  setInterval(function(){
    $.getJSON(path  + new Date().getTime(), function(data) {
      if(data.id != lastData4){
        loadData();
      }
    })
  }, 2500);
}
let num = '';
function theme5(data) {
  console.log(data)
  var out = '';
  if(data.type == 1){
    let j = data.num;
    out += "<div class='layout-center display5'>";
    out += '<img src="' + data.content[j].img + '" />';
    out += "</div>";


  }
  if(data.content[0].type == 1){
      out += "<div class='layout-center display5'>";
      out += '<img src="' + data.content[0].img + '" />';
      out += "</div>";
      lastData5 = data.id;
  }else if(data.content[0].type == 2){
    if(data.logo == data.content[0].img){
      out += "<div class='display5'>";
      out += "<div class='layout-right'>";
      out += "<span></span>";
      out += "<h1>" + data.content[0].title + "</h1>";
      out += "<p>" + data.content[0].text + "</p>";
      out += "</div>";
      out += "</div>";
      lastData5 = data.id;
    }else{
      out += "<div class='display5'>";
      out += "<div class='layout-left '>";
      out += "<img class='logo' src='"+ data.logo +"' alt='' />"
      out += '<img src="'+ data.content[0].img + '">';
      out += "</div>";
      out += "<div class='layout-right'>";
      out += "<span></span>";
      out += "<h1>" + data.content[0].title + "</h1>";
      out += "<p>" + data.content[0].text + "</p>";
      out += "</div>";
      out += "</div>";
    }
    lastData5 = data.id;
  }
  else if(data.content[0].type == 3){
    out += "<video controls loop muted autoplay";
    out += " src=" + data.dochki[1].video + " width='100%' height='100%'>";
    out += "Sorry, your browser doesn't support embedded videos."
    out += "</video>"
    lastData5 = data.id;
  }else{
    loadData();
    console.log('+');
  }
  $('.wrapper-content').html(out);
  setInterval(function(){
    $.getJSON(path  + new Date().getTime(), function(data) {
      if(data.id != lastData5){
        loadData();

      }
      if(j != data.num){
        theme5();
      }
    })
  }, 1500);
}

</script>
</body>
</html>
