*, body {
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px;
	background-color: #007e93;
}
header .header-btn button {
	border: none;
	color: #fff;
	background-color: #fce300;
	padding: 10px;
}
.container {
	background-color: #eee;
	padding: 30px 50px;
}

.row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 20px;
}
label {
	width: 500px;
}
button {
	width: 100px;
	height: 50px;
}